.arrow {
    border: solid #574CFA;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
  }
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .line {
    border-top: 1px solid #574CFA;
  }